# Model training files
data/
lightning_logs/
*.pth
*.ckpt

# IDE files
.env

# Project files
debug_script.py

# Byte-compiled / optimized / DLL files
__pycache__/


# Tensorboard output files
*.out*

# Image files
*.png
